.header {
  background-color: var(--light-red);

  .header-container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 5px 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  width: auto;
  margin: 0;
  cursor: pointer;
  order: 1;

  img {
    display: block;
    width: 250px;

    @media (max-width: 560px) {
      width: 175px;
    }
  }
}

.dropdown-container {
  position: relative;
  width: 33.333%;
  margin: 0;
  order: 2;

  select {
    appearance: none;
    width: 100%;
    padding: 20px;
    border: 0;
    background-color: var(--white);
  }

  button {
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    appearance: none;
    border: 0;
    background-color: var(--dusky-blue);
    width: 60px;
    height: 60px;
    font-size: 1.25rem;
    color: var(--white);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin: 0.5rem 0;
    order: 3;

    select {
      padding: 10px;
    }

    button {
      width: 40px;
      height: 40px;
      font-size: 1rem;
    }
  }
}

.icon-container {
  position: relative;
  width: auto;
  order: 3;

  .cart_count {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--white);
    line-height: 20px;
    color: var(--black);
    text-align: center;
    border-radius: 50%;
  }

  @media (max-width: 768px) {
    order: 2;
  }
}

.cart-icon {
  border: none;
  background: none;

  svg {
    display: block;
    width: 45px;
    height: auto;
    margin: 0 auto;
  }
}
