
.footer {
  position: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--light-red);
  color: var(--white);
}

#textbox {
  display: flex;
}
.left {
  flex: 1;
  text-align: left;
}

.right{
  flex: 1;
  text-align: right;
}

.aligncenter {
  flex: 1;
  text-align: center;
}