<div class ="footer">
    <div id="textbox">
        <div class="left">
            <h2>Hours of Operation
            <br>MON - FRI: 10:00 AM - 8:00 PM
            <br>SAT - SUN: 12:00 PM - 9:00 PM</h2>
        </div>
        <div class="aligncenter">
            <h2 style="padding: 80px;">© 2023 Bake You Very Much</h2>
        </div>
        <div class="right">
            <h2>Address
            <br>2115 Summit Ave, St Paul, MN 55105
            <br>O'Shaugnhnessy Science Hall, Rm BYVM</h2>
        </div>
    </div>
       
</div>
