<div class ="footer">
    <div id="textbox">
        <p class="alignleft"><b>&ensp;Hours of Operation:</b>
            <br>&ensp;MON - FRI: 10:00 AM - 8:00 PM
            <br>&ensp;SAT - SUN: 12:00 PM - 9:00 PM
        </p>
        <p class="aligncenter">
            <br>
            <br>© 2023 Bake You Very Much
        </p>
        <p class="alignright"><b>Address:</b>
            <br>2115 Summit Ave, St Paul, MN 55105
            <br>O'Shaugnhnessy Science Hall, Rm BYVM
        </p>
    </div>
       
</div>
