<div class ="footer">
    <div id="textbox">
        <div class="alignleft">
            <h2>Hours of Operation:</h2>
            <p>MON - FRI: 10:00 AM - 8:00 PM
            <br>SAT - SUN: 12:00 PM - 9:00 PM</p>
        </div>
        <p class="aligncenter">
            <br>
            <br>© 2023 Bake You Very Much
        </p>
        <div class="alignright">
            <h2>Address:</h2>
            <p>2115 Summit Ave, St Paul, MN 55105
            <br>O'Shaugnhnessy Science Hall</p>
        </div>
    </div>     
</div>
