.shop_cart {
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100vh;
  background: var(--white);
  box-shadow: -2px 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: right 300ms ease;

  &.active {
    right: 0;
  }
}

.cart_close {
  position: relative;
  display: block;
  appearance: none;
  background-color: var(--white);
  width: 45px;
  height: 45px;
  margin: 5px;
  border: 2px solid var(--dusky-blue);
  border-radius: 50%;
  transition: all 300ms ease;

  .cart_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -53%);
    font-size: 3em;
    color: var(--dusky-blue);
    transition: all 300ms ease;
  }

  &:hover,
  &:active {
    background-color: var(--dusky-blue);

    & > .cart_icon {
      color: var(--white);
    }
  }
}

.shop_cart-wrap {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
}

.cart_header {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--dusky-blue);
}

.cart_header + p {
  text-align: center;
}

.cart_item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 2rem 0;
}

.cart_thumb {
  position: relative;
  width: 30%;
  height: 0;
  margin: 0;
  padding-bottom: 30%;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.cart_text {
  width: 65%;

  p {
    margin: 0.5rem 0;
  }
}

.cart_title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  margin: 0 0 0.25rem;
}

.count_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.remove_icon {
  appearance: none;
  border: 0;
  margin: 0 10px;
  background-color: transparent;

  svg {
    display: block;
    width: 25px;
    height: 25px;
    stroke: var(--black);
  }
}

.product_count {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  margin: 0;
  padding: 8px;
  border: 2px solid var(--light-red);

  .product_count-btn {
    display: block;
    width: 25px;
    height: 25px;
    border: 0;
    appearance: none;
    background-color: transparent;
    line-height: 0;
    text-align: center;
  }
}

.date_picker {
  position: relative;
  margin: 1rem 0;

  label,
  input,
  .mat-mdc-form-field-hint {
    display: block;
    width: 100%;
  }

  label,
  .mat-mdc-form-field-hint {
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  input {
    padding: 15px;
    border-radius: 0;
    border: 1px solid var(--light-gray);
  }

  .mat-datepicker-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.cart_add-cart {
  appearance: none;
  border: 2px solid var(--light-red);
  background-color: var(--light-red);
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: var(--white);
  padding: 10px 15px;
  width: 100%;
  transition: all 300ms ease;

  &:hover,
  &:active {
    background-color: transparent;
    color: var(--black);
  }
}
