.main {
  max-width: 75rem;
  margin: 0 auto;
  padding: 25px 0;
}

.product-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}

.product-item {
  width: 32%;
  margin-bottom: 1rem;
}