<section class="product_page">
    <figure class="product_image">
        <img src="https://picsum.photos/1024/768" alt="placeholder">
    </figure>
    <article class="product_sidebar">
        <h1 class="product_title">Baked Item</h1>
        <p class="prodcut_desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus maiores voluptas quos atque dolor laboriosam voluptatem cumque laborum unde! Reprehenderit natus inventore perferendis laboriosam perspiciatis sint totam! Ad, dolor praesentium?
        </p>
        <div class="product_price">$14.99 USD</div>
        <div class="product_count">
            <button class="product_count-btn" (click)="decrement()">-</button>{{counter}}<button class="product_count-btn" (click)="increment()">+</button>
        </div>
        <button class="product_add-cart">Add To Cart</button>
    </article>
    <aside class="product_nutrition">
        <table class="product_table">
            <thead>
                <tr>
                    <th scope="col">Nutrition &amp; Alergens</th>
                    <th scope="col">Cal</th>
                    <th scope="col">Fat</th>
                    <th scope="col">Pro</th>
                    <th scope="col">Carb</th>
                    <th scope="col">Eggs</th>
                    <th scope="col">Milk</th>
                    <th scope="col">Soy</th>
                    <th scope="col">Gluten</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Slice</th>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th scope="row">1/2 Dozen</th>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th scope="row">1 Dozen</th>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th scope="row">Baker's Dozen</th>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </aside>
</section>
