<section class="product_page">
    <div class="product_container">
        <figure class="product_image">
            <img src="assets/images/{{currentProduct.image}}" alt="{{currentProduct.productName}}">
        </figure>
        <article class="product_sidebar">
            <h1 class="product_title">{{currentProduct.productName}}</h1>
            <p class="prodcut_desc">{{currentProduct.productLongDescription}}</p>
            <div class="product_price">{{(currentProduct.cost[0] * counter) | currency}}</div>
            <div class="product_count">
                <button class="product_count-btn" (click)="decrement()">&ndash;</button>{{counter}}<button class="product_count-btn" (click)="increment()">&plus;</button>
            </div>
            <button (click)="addToCart(currentProduct, counter)" class="product_add-cart">Add To Cart</button>
        </article>
    </div>
    <aside class="product_nutrition">
        <h2>Allergens</h2>
        <div class="allergen_icons">
            <img *ngIf="currentProduct.gluten==true" src="assets/svgs/gluten.svg" alt="Gluten Allergy" />
            <img *ngIf="currentProduct.soy==true" src="assets/svgs/soy.svg" alt="Soy Allergy" />
            <img *ngIf="currentProduct.nuts==true" src="assets/svgs/tree-nuts.svg" alt="Tree Nuts Allergy" />
            <img *ngIf="currentProduct.peanuts==true" src="assets/svgs/peanuts.svg" alt="Peaunut Allergy" />
            <img *ngIf="currentProduct.eggs==true" src="assets/svgs/egg.svg" alt="Eggs Allergy" />
            <img *ngIf="currentProduct.dairy==true" src="assets/svgs/milk.svg" alt="Dairy Allergy" />
        </div>
        <table class="product_table">
            <thead>
                <tr>
                    <th scope="col">Nutrition</th>
                    <th scope="col">Calories</th>
                    <th scope="col">Fat</th>
                    <th scope="col">Protein</th>
                    <th scope="col">Carbohydrates</th>
                    <th scope="col">Sugar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th data-label="Nutrition" scope="row">{{currentProduct.servingOptions[0]}}</th>
                    <td data-label="Calories">{{currentProduct.calories}} kCal</td>
                    <td data-label="Fat">{{currentProduct.fat}} g</td>
                    <td data-label="Protein">{{currentProduct.protein}} g</td>
                    <td data-label="Carbohydrates">{{currentProduct.carb}} g</td>
                    <td data-label="Sugar">{{currentProduct.sugar}} g</td>
                </tr>
            </tbody>
        </table>
    </aside>
</section>
