<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<section class="product-container">
    <div *ngFor="let product of products">
        <article *ngIf="searchText === '' || product.productName.toLowerCase().includes(searchText)" [routerLink]="['/product', product.id]" class="product-item">
            <figure class="product-thumb">
                <img src="assets/images/{{product.image}}" alt="{{product.alt}}">
            </figure>
            <div class="product_desc">
                <h2 class="product-title">{{product.productName}}</h2>
                <p class="paragraph">{{product.productSummary}}</p>
                <p class="product-cost">{{product.cost[0] | currency}} per {{product.servingOptions[0]}}</p>
            </div>
        </article>
    </div>
</section>
