<section class="product-container">
    <article class="product-item">
        <figure class="product-thumb">
            <img src="https://picsum.photos/1024/768" alt="placeholder">
        </figure>
        <h2 class="product-title">Baked Item</h2>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, excepturi unde possimus eveniet, nobis neque in accusantium harum vel tempora consequuntur? Est ex magni officiis nihil autem magnam animi nam?</p>
    </article>

    <article class="product-item">
        <figure class="product-thumb">
            <img src="https://picsum.photos/1024/768" alt="placeholder">
        </figure>
        <h2 class="product-title">Baked Item</h2>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, excepturi unde possimus eveniet, nobis neque in accusantium harum vel tempora consequuntur? Est ex magni officiis nihil autem magnam animi nam?</p>
    </article>

    <article class="product-item">
        <figure class="product-thumb">
            <img src="https://picsum.photos/1024/768" alt="placeholder">
        </figure>
        <h2 class="product-title">Baked Item</h2>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, excepturi unde possimus eveniet, nobis neque in accusantium harum vel tempora consequuntur? Est ex magni officiis nihil autem magnam animi nam?</p>
    </article>

    <article class="product-item">
        <figure class="product-thumb">
            <img src="https://picsum.photos/1024/768" alt="placeholder">
        </figure>
        <h2 class="product-title">Baked Item</h2>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, excepturi unde possimus eveniet, nobis neque in accusantium harum vel tempora consequuntur? Est ex magni officiis nihil autem magnam animi nam?</p>
    </article>

    <article class="product-item">
        <figure class="product-thumb">
            <img src="https://picsum.photos/1024/768" alt="placeholder">
        </figure>
        <h2 class="product-title">Baked Item</h2>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, excepturi unde possimus eveniet, nobis neque in accusantium harum vel tempora consequuntur? Est ex magni officiis nihil autem magnam animi nam?</p>
    </article>

    <article class="product-item">
        <figure class="product-thumb">
            <img src="https://picsum.photos/1024/768" alt="placeholder">
        </figure>
        <h2 class="product-title">Baked Item</h2>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, excepturi unde possimus eveniet, nobis neque in accusantium harum vel tempora consequuntur? Est ex magni officiis nihil autem magnam animi nam?</p>
    </article>

    <article class="product-item">
        <figure class="product-thumb">
            <img src="https://picsum.photos/1024/768" alt="placeholder">
        </figure>
        <h2 class="product-title">Baked Item</h2>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, excepturi unde possimus eveniet, nobis neque in accusantium harum vel tempora consequuntur? Est ex magni officiis nihil autem magnam animi nam?</p>
    </article>

    <article class="product-item">
        <figure class="product-thumb">
            <img src="https://picsum.photos/1024/768" alt="placeholder">
        </figure>
        <h2 class="product-title">Baked Item</h2>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, excepturi unde possimus eveniet, nobis neque in accusantium harum vel tempora consequuntur? Est ex magni officiis nihil autem magnam animi nam?</p>
    </article>

    <article class="product-item">
        <figure class="product-thumb">
            <img src="https://picsum.photos/1024/768" alt="placeholder">
        </figure>
        <h2 class="product-title">Baked Item</h2>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, excepturi unde possimus eveniet, nobis neque in accusantium harum vel tempora consequuntur? Est ex magni officiis nihil autem magnam animi nam?</p>
    </article>

    <article class="product-item">
        <figure class="product-thumb">
            <img src="https://picsum.photos/1024/768" alt="placeholder">
        </figure>
        <h2 class="product-title">Baked Item</h2>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, excepturi unde possimus eveniet, nobis neque in accusantium harum vel tempora consequuntur? Est ex magni officiis nihil autem magnam animi nam?</p>
    </article>

    <article class="product-item">
        <figure class="product-thumb">
            <img src="https://picsum.photos/1024/768" alt="placeholder">
        </figure>
        <h2 class="product-title">Baked Item</h2>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, excepturi unde possimus eveniet, nobis neque in accusantium harum vel tempora consequuntur? Est ex magni officiis nihil autem magnam animi nam?</p>
    </article>

    <article class="product-item">
        <figure class="product-thumb">
            <img src="https://picsum.photos/1024/768" alt="placeholder">
        </figure>
        <h2 class="product-title">Baked Item</h2>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, excepturi unde possimus eveniet, nobis neque in accusantium harum vel tempora consequuntur? Est ex magni officiis nihil autem magnam animi nam?</p>
    </article>
</section>
