/* You can add global styles to this file, and also import other style files */
/* Color Theme Swatches in Hex */
$light-blue: #8df2e0;
$dusky-blue: #84bfae;
$light-grey: #d9d5c5;
$darker-red: #d94032;
$light-red: #d95a4e;
